<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

   <!-- <welcome-file-list>
   <welcome-file>
  PageRefresh.jsp
   </welcome-file>
   </welcome-file-list> -->
	<display-name>ExcelConvertionTool</display-name>
	<!-- - Servlet that dispatches request to registered handlers (Controller 
		implementations). -->
	<servlet>
		<servlet-name>dispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		 <init-param>
                  <param-name>contextConfigLocation</param-name>
                  <param-value>/WEB-INF/spring-config.xml</param-value>
            </init-param>
        <load-on-startup>1</load-on-startup>
	</servlet>
	  <servlet>  
    <description></description>  
    <display-name>FileUpload</display-name>  
    <servlet-name>FileUpload</servlet-name>  
    <servlet-class>com.a4tech.controller.FileUpload</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>FileUpload</servlet-name>  
    <url-pattern>/FileUpload</url-pattern>  
  </servlet-mapping>  
 <servlet>
    <servlet-name>Downloadservlet</servlet-name>
    <servlet-class>com.a4tech.core.errors.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Downloadservlet</servlet-name>
    <url-pattern>/DownloadServlet</url-pattern>
  </servlet-mapping>
	<servlet-mapping>
		<servlet-name>dispatcherServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<context-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring/application-config.xml</param-value>
   </context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
</web-app>
